body {
    background-color: #191919;
    font-family: 'Rajdhani', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 1px #000000;
}

#wrapper {
    background-color: #518651;
    min-width: 400px;
    max-width: 600px;
    margin: 20px auto;
}

h1 {
    text-align: center;
    padding: 20px;
}

ol {
    margin: 0;
    padding: 0;
}

ol li {
    background-color: #183b12 !important;
    padding: 5px 10px;
    list-style: decimal inside none;
}

p {
    text-align: center;
}

p a {
    text-decoration: none;
    color: #dddddd;
}

p a:first-child {
    margin-right: 20px;
}