body {
    background-color: #191919;
    font-family: 'Rajdhani', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

#wrapper {
    background-color: #518651;
    width: 600px;
    margin: 20px auto;
}

h1 {
    text-align: center;
    padding: 20px;
}

form {
    display: block;
    text-align: center;
}

form p {
    text-align: center;
}

#toDoItem {
    width: 380px;
    background-color: #94ff9c;
    padding: 5px 10px;
    border: 1px solid #305734;
    font-size: 1.5em;
    color: #305734;
}

#addToDo {
    width: 180px;
    background-color: #305734;
    padding: 5px 10px;
    font-size: 1.5em;
    color: #94ff9c;
    border: 1px solid #305734;
}

ul { 
    margin: 0 auto;
    padding: 10px;
}

ul li {
    background-color: #305734;
    list-style: none;
    width: 540px;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 1.2em;
    color: #305734;
    border: 0;
    position: relative;
}

ul input {
    background-color: transparent;
    border: 0;
    font-size: 1.2em;
    color: #ffffff;
}

ul li span {
    font-size: 1.2em;
    color: #a9ffb0;
    cursor: pointer;
    text-shadow: 1px 1px 1px #292929;
}

ul li a {
    text-decoration: none;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1em;
    text-shadow: 1px 1px 1px #292929;
}


p {
    text-align: center;
    height: 20px;
}

p a {
    text-decoration: none;
    color: #dddddd;
    padding: 10px 20px;
}